.quicklinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 30px 20px;
  flex-wrap: wrap;
}

.quicklink {
  text-align: center;
  flex: 1;
  min-width: 120px;
}

.icon {
  font-size: 28px;
  margin-bottom: 8px;
}
