// .vision-section {
//     // margin-bottom: 120px;
//   }
  
  .main-image {
    width: 100%;
    height: 350px;              /* ✅ control height */
    object-fit: cover;          /* ✅ crop properly */
    border-radius: 20px;
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.25);
  }
  
  
  .floating-card {
    position: absolute;
    background: #fff;
    padding: 30px;
    width: 580px;
    border-radius: 18px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
    top: 50%;
    transform: translateY(-50%);
  }
  
  .card-right {
    right: -440px;
  }
  
  .card-left {
    left: -440px;
  }
  
  @media (max-width: 991px) {
    .floating-card {
      position: static;
      width: 100%;
      margin-top: 20px;
      transform: none;
    }
    .main-image {
      height: 280px;
    }
  
    .card-right,
    .card-left {
      left: 0;
      right: 0;
    }
  
    .vision-section {
      margin-bottom: 60px;
    }
  }
  