/* ================= LAB SECTION ================= */


.lab-title {
  font-size: 32px;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 24px;
  position: relative;
}

.lab-title::after {
  content: "";
  width: 70px;
  height: 4px;
  background: #CC6926;
  display: block;
  margin-top: 8px;
  border-radius: 8px;
}

/* ================= LAB CARD ================= */

.lab-card {
  height: 100%;
  background: #ffffff; /* IMPORTANT */
  border-radius: 22px;
  padding: 32px 24px;
  text-align: center;
  border: 1px solid #e5edff; /* subtle border */
  
  transition: all 0.35s ease;
  position: relative;
  overflow: hidden;
}

/* Accent top strip */
.lab-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  width: 100%;
  background: #CC6926;
}

/* Hover */
.lab-card:hover {
  transform: translateY(-10px);
  
}

/* ================= ICON ================= */

.lab-icon {
  width: 64px;
  height: 64px;
  margin: 0 auto 18px;
  background: #e6efff;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lab-card img{
  width: 50%;
}

/* ================= TEXT ================= */

.lab-name {
  font-size: 16px;
  font-weight: 600;
  color: #1e293b;
  line-height: 1.5;
}
