.industry {
  background: #f6f6f6;
  padding: 60px 20px;
  text-align: center;
}
.industry h2{color:#1a365d;}

.logoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 5px;
  max-width: 1400px;
  margin: auto;
}

.logoCard {
  background: #fff;
  border-radius: 12px;
  /* padding: 10px 10px;  */
}

.logoCard img {
  width: 100%; height: auto;
  object-fit: contain;
}
